<section class="food_section py-12 bg-gray-100">
    <div class="container mx-auto">
      <div class="heading_container text-center mb-12">
        <h2 class="text-4xl font-bold text-gray-800">
          List Products
        </h2>
      </div>
      <input [(ngModel)]="filterValue" (ngModelChange)="filter()" 
             class="w-64 h-10 pl-4 pr-10 rounded-lg border border-gray-300 
             focus:outline-none text-black" type="search" placeholder="Tìm kiếm">
      <div class="filters-content">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">
          <div class="all pizza" *ngFor="let product of filteredProducts">
            <div class="box bg-white p-6 shadow-lg rounded-lg hover:shadow-xl transition-shadow duration-300">
              <div class="img-box mb-6">
                <a [routerLink]="['/products', product._id]">
                  <img [src]="product.image" [alt]="product.title" class="w-full h-60 object-cover rounded-lg">
                </a>
              </div>
              <div class="detail-box text-center">
                <h5 class="text-2xl font-semibold mb-3 text-gray-800">
                  {{ product.title | slice:0:25 }}...
                </h5>
                <p class="text-gray-600 mb-6">
                  {{ product.description | slice:0:25 }}...
                </p>
                <div class="mb-4">
                  <span class="block text-gray-600">Start At: {{ product.startAt | date:'short' }}</span>
                  <span class="block text-gray-600">Times: {{ product.times }} minutes</span>
                </div>
                <div class="options flex justify-between items-center">
                  <h6 class="text-xl font-bold text-gray-900">
                    ${{ product.price }}
                  </h6>
                  <a [routerLink]="['/products', product._id]" class="text-indigo-600 hover:text-indigo-800">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 456.029 456.029" class="w-6 h-6" fill="currentColor">
                      <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z"/>
                      <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4C457.728,97.71,450.56,86.958,439.296,84.91z"/>
                      <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z"/>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  